@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Poppins', sans-serif;
    color: rgb(218, 218, 218);
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
}

.left-container {
    background-image: url(.//bgimg.jpg);
    width: 36vw;
    background-position: center;
    background-size:100vh;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 15vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.right-container {
    width: 64vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    gap: 50px;
}

.dummytext,
.right,
.login {
    padding-right: 3vw;
    padding-left: 4vw;

}

.form-title {
    width: 100%;
    padding-bottom: 20px;
    font-size: 18px;
}

.form-container {
    width: 100%;
    background-color: rgba(27, 27, 27, 0.363);
    padding-left: 4vw;
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: rgb(93, 224, 93, 0.2) 0px 7px 29px 0px;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

label {
    font-size: 14px;
    color: rgb(106, 106, 106);
}

.input {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: transparent;
}

input {
    border: 1px solid rgb(58, 58, 58);
    background-color: transparent;
    border-radius: 2px;
}

input:focus {
    outline: none;
    border-color:rgb(93, 224, 93);
    ;
}

.button,
.login {
    position: relative;
    top: 40px;
}

button {
    font-weight: 700;
    background-color: black;
    border: 1px solid rgb(93, 224, 93);
    border-radius: 2px;
    height: 40px;
    width: 200px;
    color:rgb(93, 224, 93);
}

button:hover {
    background-color: rgb(93, 224, 93);
    color: black;
}

.login {
    font-size: 14px;
    display: flex;
    gap: 10px;
}

.login a {
    color: rgb(93, 224, 93);
}

.login a:hover {
    color: white;
}